/* Aqui hacemos el estilo del encabezado con un fondo gris y algo de relleno*/
.bmenu {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
    font-family: "Gill Sans MT";
    height: 5%;
}
/* Aqui mostamos el estilo de los enlaces */
.bmenu a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: darkorchid;
  margin:10px 25px ;
}
/* Aqui diseñamos el vinculo del logotipo*/
.bmenu a.logo {
  font-size: 25px;
  font-weight: bold;
}
/* Aqui hacemos el estilo del enlace activo */
.header a.active {
  background-color: blue;
  color: white;
}
/* Aqui movemos los otros botones a la derecha*/
.btnderecha {
  float:right;
}

.infoUser {
    border: 1px solid black;
    width: 20%;
    height: 24%;
    margin-top: 15px;
    margin-right: 3%;
    margin-left: 15px;
    margin-bottom: 15px;
    float:left;
}

.eventos {
    border: 1px solid black;
    width: 74%;
    height: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}
.evento{
    border: 1px solid black;
    height: 100px;
    margin: 8px 4px;
    padding: 4px 8px;
}
  p#localidad, p#fecha, p#precio{
    float: left;
      margin: 4px 8px;
}
 button#seguir{
    float:right;
     margin-right: 20px;
}
.eventosCercanos {
    border: 1px solid black;
    width: 20%;
    height: 55%;
    float: left;
    margin-left: 15px;
}

/* Aqui hacemos el estilo del pie de pagina */
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:whitesmoke;
   color: black;
   text-align: center;
   font-family: "Gill Sans MT";
}
/* Aqui hacemos el estilo del menu que se encuentra en la parte izquierda de la pagina de cuenta*/
body {font-family:"Gill Sans MT"}
.separacion{
  position:static;
  width: 100%;
  height: 200px;
  padding: 100px 19px;
}
.cuenta {
    float: left;
    border: 1px solid #ccc;
}
#micuenta a:hover {
    left: 0;
}

#Info {
    top: 140px;
    background-color: #2196F3;
    width: 10%;
    height: 200px;
    font-family:"Gill Sans MT";
}

.cuenta button {
    display: block;
    background-color: inherit;
    color: darkorchid;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-family:"Gill Sans MT";
}

.cuenta button:hover {
    background-color: #ddd;
    font-family:"Gill Sans MT";
}

.cuenta button.active {
    background-color: #ccc;
	font-family:"Gill Sans MT";
}
/*holis*/
.tabcontent {
    float: left;
    padding: 0px 150px;
    border: 1px solid black;
    width: 60%;
    border-left: none;
    height: 351px;
    font-family:"Gill Sans MT";
}

/* Aqui hacemos el posicionamiento de la pagina de busqueda*/

.bmain {
  border: 1px solid black;
  width: 74%;
  height: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  text-align: center;
}
